.venv
testing/
**/.venv
**/.env
**/.DS_Store
**/node_modules/
**/storage
**/extraction/
**/tutorials/
.env
streamlit/.idea
ml-pipeline-tools/data
ml-pipeline-tools/extraction
ml-pipeline-tools/__pycache__

*.json
ml-pipeline-tools/data1
.DS_Store
config.share
